<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <style>
        {{ navbar.render_css() }}
        {{ login_form.render_css() }}

        {{ sidebar_vertical.render_css() }}
    </style>
</head>
<body>
        {{ navbar.render_html() }}
        {{ sidebar_vertical.render_html() }}
    <div class="content">
        <!-- {{ login_form.render_html() }} -->
    </div>
</body>
</html>